# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Chm24k\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
